<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>contactEmailRot13</key>
  <string>cuvyvcc.sruer@tznvy.pbz</string>
  <key>contactName</key>
  <string>Philipp Fehre</string>
  <key>description</key>
  <string>Syntax highlight for todo.txt http://todotxt.com/ file</string>
  <key>name</key>
  <string>TodoTXT</string>
  <key>ordering</key>
  <array>
    <string>B68B5C70-7D5A-11E0-A411-0800200C9A66</string>
    <string>3549EF10-8141-11E0-B278-0800200C9A66</string>
    <string>34C1CEC0-85E0-11E0-9D78-0800200C9A66</string>
    <string>6D985120-B2AD-11E0-A00B-0800200C9A66</string>    
  </array>
  <key>uuid</key>
  <string>A161E170-7D5A-11E0-A411-0800200C9A66</string>
</dict>
</plist>
