<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>contactEmailRot13</key>
  <string>cuvyvcc.sruer@tznvy.pbz</string>
  <key>contactName</key>
  <string>Philipp Fehre</string>
  <key>description</key>
  <string>Syntax highlight for todo.txt http://todotxt.com/ file</string>
  <key>name</key>
  <string>TodoTXT</string>
  <key>ordering</key>
  <array>
    <string>B68B5C70-7D5A-11E0-A411-0800200C9A66</string>
    <string>3549EF10-8141-11E0-B278-0800200C9A66</string>
    <string>F84DD04C-D774-4683-AF06-F3ED901B9409</string>
    <string>254EDC40-398E-4D3C-80DF-AA27E30F96EE</string>
    <string>E8F836CA-E82D-4472-A6F7-0EB043ED92CA</string>
  </array>
  <key>uuid</key>
  <string>A161E170-7D5A-11E0-A411-0800200C9A66</string>
</dict>
</plist>
